/* header and footer CSS file*/

/* aNo header specific CSS, all info handled through navigation.css */

footer{
    display: flex;
    padding: 2em;
    width: 100%;
    height: auto;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer a {
    color: black;
}