.navbar{
    padding: 1em;
    width: 100%;
    height: auto;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: .5em;
    font-size: clamp(.9rem, 3vw, 1.125rem);
    flex-wrap: wrap;
}

.navbar a{
    color: red;
    background-color: black;
    padding: .5em;
    border-radius: 1em;
    white-space: nowrap;
    display: inline-block;
    width: 7rem;
    text-align: center;
    border: black solid 2px;
}

.navbar a:hover{
    background-color: transparent;
    color: black;
    transition-duration: 0.15s;
    border: black solid 2px;
}

/* Hamburger button (initially hidden) */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 63.125rem) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  
    .hamburger {
      display: block;
      position: absolute;
      top: 0;
      right: 1em;
      z-index: 2;
 
    }
  
    .navbar ul {
        margin-top: 1em;
        display: none;
        flex-direction: column;
        background-color: black;
        overflow: hidden;
        padding: 1em;
        gap: 0.5em;
        max-height: 0;
        transition: max-height 0.7s ease-in-out, opacity 0.3s ease;
    }
  
    .navbar ul.show {
      display: flex;
      max-height: 31.25rem;
      opacity: 1;
    }
  
    .navbar a {
      color: red;
      border: none;
      text-align: left;
    }
  
    .navbar a:hover {
      background-color: black;
      color: red;
      border: none;
    }
}



.fake-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: red;
    background-color: black;
    border: black solid 2px;
    border-radius: .5em;
}

.fake-button:hover{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: black;
    transition-duration: 0.15s;
    border: black solid 2px;
    border-radius: .5em;
    word-wrap: normal;
}

.socials-container{
    display: flex;
    gap: .5em;
    list-style: none;
    justify-content: center;
    height: 5em;
}

.socials-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 0.9em;
    text-align: center;
    padding: .5em;
    border: black 2px solid;
    border-radius: 1em;

}

.socials-container span {
    display: none;
}

.socials-container a:hover span {
    display: block;
}

.alink{
    color: black;
    padding: .4rem;
}

.alink span{
    white-space: nowrap;
}

.alink:hover{
    color: white;
    background-color: rgba(40, 40, 40, .3);
    border-radius: .5em;
}

@media(max-width: 35rem){
    .alink:hover{
        background-color: transparent;
    }
}