
:root{
    --grid-width: 450px
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.fa-brands{
    font-size: 1.5em;
    color: black;
}

html, body {
    height: auto; /* Make sure the body takes up the full viewport */
    display: flex;
    flex-direction: column;
    background-color: red; /* For browsers that do not support gradients */
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(red, orange);
}

header{
    display: flex;
    border: black solid 2px;
}


/*Main*/
main{
    flex: 1;
    height: auto;
}

.center{
    text-align: center;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

.socials-container{
    display: flex;
    gap: .5em;
    list-style: none; 
    justify-content: center;
}

/*outer grid containers CSS start*/
.outer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1050, 100px));
    max-width: 1100px; /*350px*3+50px*/
    gap: 1em;
    padding: 1em;
    margin: 0 auto;
}

.outer-grid-item {
    border: black solid;
    border-radius: 10px;
}
/*outer grid containers CSS end*/
