
:root{
    --grid-width: 450px
}

*, *::before,
*::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

i{
    font-size: 1.5rem;
    color: black;
    border: black solid 2px;
    padding: .2em;
    border-radius: .5em;
}

.icon-color:hover{
    color: white;
}

.hide-border i{
    height: auto;
    border: none;
}

html, body {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: red; /* For browsers that do not support gradients */
    overflow-x: hidden;
    overflow-y: auto;
    background-image: 
        linear-gradient(red, orange);
}


/*Main*/
main{
    padding-top: 1em;
    padding-bottom: 1em;
    flex: 1;
    height: auto;
    border-right: black solid 2px;
    border-left: black solid 2px;
}

.underline{
    text-decoration: underline;
}

.center{
    text-align: center;
}


/*outer grid containers CSS start*/
.outer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1050, 100px));
    max-width: 1100px; /*350px*3+50px*/
    gap: 1em;
    padding: 1em;
    margin: 0 auto;
}

.outer-grid-item {
    border: black solid;
    border-radius: 10px;
    padding: .5em;
}

.summary img{
 top: 0;
 left: 0;
 width: 200px;
 height: 200px;
 object-fit: cover;
 border: 1px black solid;
 border-radius: 1em;
 overflow: hidden;
}


/*outer grid containers CSS end*/

.attribution a:hover{
    color: white;
}

.attribution i{
    font-size: 1rem;
    border: transparent;
}