
*{
    padding: 0;
    margin: 0;
    
}

body {
    padding-top: 5em;
}

h1{
    text-align: center;
    font-size: 4em;
}

header{
    display: flex;
    /* place-items: center; */
    border: black;
}

nav.scrolled {
    background: #333; /* Solid background when scrolling */
}

.navbar{
    background-color: red;
    opacity: 1;
    padding: 2em;
    width: 100%;
    height: 1em;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); /* Transparent background */
    transition: background 0.3s ease-in-out;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: red;
    background-color: black;
    padding: .5em;
    border-radius: 1em;
}

nav a:hover {
    background-color: red;
    color: black;
    transition-duration: 0.15s;
    border: black solid 2px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: red;
    padding: 2em;
    width: 100%;
    height: .5em;
    gap: 1em;
}

.socials-container{
    display: flex;
    gap: .5em;
    justify-content: right;
}

footer ul{
    list-style: none;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: black;
}