/* Tables */


.table-prog, .table-enterprise {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
  }
  .table-prog caption, .table-enterprise caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .table-prog th, .table-prog td, .table-enterprise th, .table-enterprise td {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    text-align: center;
  }
  .table-prog th {
    background-color: black;
    color: white;
  }
  .table-prog tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);;
  }
  .table-enterprise {
    margin-top: 3rem;
  }